{
  "root": true,
  "globals": {
    "ga": true,
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["html", "json"],
  "extends": [
    // "eslint:recommended",
    // "plugin:import/recommended",
    // "plugin:import/typescript",
    // "plugin:prettier/recommended",
    // "@typescript-eslint/parser",
    "elemefe"
  ],
  // "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "parser": "babel-eslint"
  },
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "semi": ["error", "always"]
  }
}
