*.sh
*.md
*.scss
*.woff
*.ttf

# file
/**/dist
/**/lib
/**/__tests__
/**/node_modules
/**/assets
/**/public
packages/view-design
examples

packages/utils/lib
packages/utils/es
packages/utils/dist
packages/utils/types
